a:hover {
    text-decoration: none;
    cursor: pointer;
}

.home-images {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
}

.home-images img {
    width: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.home-list {
    padding-left: 1rem;
}
p{
    font-family: 'Montserrat'
}
#navMain {
    font-family: 'Raleway';
    font-size: 20px;
    /* text-transform: uppercase; */
    background: rgb(255, 255, 255);
}

#navMain .navbar-toggler {
    font-size: 16px;
    padding: 11px;
    color: rgb(0, 0, 0);
}

#navMain a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: rgb(240, 120, 120);
}
