{% extends 'base.html' %} 

{% block content %}
<div class="cen">
<div class="container top">
    <div class="row">
        <div class="col-md-6">
            {% for img in images %}
            <div class="home-images">
                <p class="home-text">
                    <a href="{% url 'profile' username=img.profile.username %}">{{img.profile.username}}</a>
                </p>
                <img src="{{img.photo.cdn_url}}" alt="Image">
                <ul class="list-inline home-text">
                    <li class="list-inline-item">
                        <a href="{% url 'like' operation='like' pk=img.id%}"><i class="fa fa-heart-o fa-2x"  aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'single_image' image_id=img.id %}"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="list-inline home-list">
                    <li class="list-inline-item">
                        <a href="{% url 'profile' username=img.profile.username %}">{{img.profile.username}}</a>
                    </li>
                    <li class="list-inline-item">
                    {% autoescape on %}
                        <p>{{img.image_caption|safe}} </p>
                    {% endautoescape %}
                    </li>
                </ul>
                {% if img.likes >= 1 %}

                <div class="row">
                  <h5 style="padding:8px; color:red;"><b>{{img.likes}} likes</b></h5>
                </div>
      
                {% endif %}
                
            </div>
            {% empty %}
            <h2>No images. Follow some people to see their images</h2>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}